{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <div class="col-md=11">
        <div class="content-section">
            <p class='text-muted'>
                MHA Ground is a forum where fictional characters of the anime <b>My Hero Academia</b> can create post, update and delete them. They can create their own account, login and logout. The purpose of this app is to share content with other people.
                </br>
                </br>
                This is a fictional and non-commercial application. This app is as a fan & hobby project and is not monetized is any way.
            </p>
        </div>
        </div>
{% endblock content %}
